@import "tailwindcss";

@theme {
  --color-cyan: hsl(180, 100%, 50%);;
  --color-gr-head: #7588a3;
  --color-card: 222 47% 8%;
  --color-card-foreground: 210 40% 98%;
  --color-thm: #080c16
}
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #080c16;
  color:  hsl(180, 100%, 50%);
  
}

.hero-buttons:hover{
    box-shadow: 0px 2px 5px var(--color-cyan),
    0px 2px 20px rgba(0, 255, 255, 0.542),
    0px 2px 60px rgba(0, 255, 255, 0.256);
}
  


@layer utilities{
   .flex-center{
    @apply flex flex-row justify-center items-center
   }

   .col-center{
    @apply flex flex-col justify-center items-center
   }
    .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@layer components{
  .hero{
    @apply h-dvh w-full
  }
  /* .glow-bg{
    background: #00E6FF;
    background: radial-gradient(circle, rgba(0, 230, 255, 0.37) 0%, rgba(3, 18, 41, 0) 50%, rgba(3, 18, 41, 0) 50%);
    width: 50%;
    height: 50%;
    transform: translate(50%,50%);

  } */
.nav-items {
  /* Mobile Styles (The Default) */
  @apply fixed top-0 left-0 w-full h-screen flex flex-col items-center justify-center gap-12 bg-thm z-[-1] transition-transform duration-300;
  
  /* Desktop Styles (The md: overrides) */
  @apply md:static md:h-auto md:w-auto md:flex-row md:justify-end md:gap-8 md:bg-transparent md:translate-y-0 md:z-auto;
}

.nav-cl{
    @apply flex md:justify-around px-2 py-4 relative;
    
    h1{
      @apply text-3xl font-bold
    }
    h4{
      @apply text-sm text-gray-400 hover:text-white px-4
    }
    button{
      @apply text-black capitalize hover:shadow-lg hover:shadow-cyan-500/50
    }
  }

  .main-head{
    @apply text-center text-[6vw] font-bold text-white pt-10;
    .span-head{
      @apply text-cyan
    }
  }
    .glass-card {
    @apply bg-card/70 backdrop-blur-xl border border-gray-400 rounded-2xl;
    box-shadow: 0 8px 32px hsl(222 47% 6% / 0.5);
    /* background-color: #96b4ff00 */
  }
  .glow{
    text-shadow: -100px 2px 700px cyan,
    0px 2px 10px #00ffff78;
  }
  .glow-s{
    text-shadow: -100px 2px 700px cyan,
    0px 2px 10px cyan;
  }
    .hero-buttons {
  @apply transition-all duration-200; /* Smooth the glow effect */
}
.about-buttons{
  @apply transition-all duration-300 border border-transparent
}
.intro-heading{
  @apply text-center font-mono p-6 md:text-sm uppercase
}
.heading-title{
  @apply text-3xl text-center font-bold text-white capitalize md:text-5xl 
}
.hver-fix{
  transition: all ease 0.3s;
}
.image-projects{
  border-radius: 12px;
  transition: all ease 0.3s;
}
}


.hver-fix:hover{
  transform: translateY(-5px);
  box-shadow: 0px 1px 30px rgba(0, 255, 255, 0.438)
}
.down-arrow{
  animation-name: updown;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.online-an{
  animation-name: online;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.about-buttons:hover{
    box-shadow:0px 2px 40px rgba(0, 255, 255, 0.542);
    transform: translateY(-5px);
    border: 1px solid cyan;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}
.image-projects:hover{
  scale: 1.08;
}
.gradient-up:hover{
  background: #00E6FF;
  background: linear-gradient(356deg, rgba(0, 230, 255, 0.38) 0%, rgba(3, 30, 54, 1) 0%, rgba(3, 18, 41, 0.56) 100%, rgba(3, 18, 41, 0) 100%);
}

@keyframes updown {
  0%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes online {
  0%{
    background-color: rgb(29, 243, 29);
    box-shadow: 0px 1px 5px rgb(29, 243, 29),
     0px 1px 15px rgb(29, 243, 29);
  }
  100%{
    background-color: rgb(3, 82, 3);
  }
}
